.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.grid-container {
  @media(min-width: $phone) {
    display: grid;
  }
}

a {
  transition: color .3s;
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  color: $gray;

  @media (min-width: $tablet) {
    margin: 0 0 32px;
  }

  span {
    display: block;
    font-size: 18px;
    font-weight: 400;
  }
}

h3 {
  text-transform: uppercase;
  line-height: 1.2;

  @media (min-width: $tablet) {
    margin: 0 0 27px;
  }
}

.btn {
  transition: background-color .3s, color .3s;
  display: inline-block;
  vertical-align: top;
  border-radius: 2em;
  border: 2px solid $white;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 18px;
    min-width: 280px;
    padding: 15px;
    letter-spacing: 3.5px;
  }

  &:hover {
    @media(min-width: $desktop + 1) {
      background-color: $white;
      color: $gray;
    }
  }

  &.btn-green {
    border-color: $green;
    color: $green;

    &:hover {
      background-color: $green;
      color: $white;
    }
  }

  .triagle {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8.5px 0 8.5px 15px;
    border-color: transparent transparent transparent $green;
    margin-left: 6px;
  }
}

.text-block {
  color: $gray;
  font-weight: 300;
  line-height: 1.2;
  max-width: 640px;
  padding: 15px;

  @media (min-width: $desktop) {
    font-size: 36px;
  }
}

.intro-section {
  @extend %bg-default;

  padding: 80px 0;
  position: relative;
  font-size: 22px;
  line-height: 1.5;

  @media (min-width: $desktop) {
    font-size: 30px;
    padding: 178px 0 70px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -115%;
    width: 100%;
    transform: skewX(-51deg);
    background-color: rgba($blue, .3);

    @media(min-width: $tablet) {
      right: -55%;
    }
  }

  .container {
    @include v-align(calc(100vh - 160px));

    position: relative;
    z-index: 2;
    text-align: left;

    &:after {
      @media (min-width: $desktop) {
        min-height: calc(100vh - 248px);
      }
    }
  }

  .text-holder {
    @media(min-width: $tablet) {
      width: 48%;
    }
  }

  h1 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 15px;

    @media (min-width: $desktop) {
      font-size: 72px;
    }
  }

  p {
    margin: 0;
  }
}

.about-section {

  .grid-container {
    @media(min-width: $phone) {
      grid-template-columns: 50% 50%;
    }
  }

  .image-block {
    @extend %bg-default;

    padding-bottom: 62.5%;

    @media(min-width: $phone) {
      grid-column: 1;
    }
  }

  .text-block {

    @media(min-width: $phone) {
      align-self: center;
      grid-column: 2;
    }

    @media (min-width: $tablet) {
      padding: 10px 55px;
    }
  }

  p {
    margin: 0 0 12px;
  }
}

.gallery-section {
  background: #3f729b;

  .grid-container {
    @media(min-width: $phone) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .text-block {
    color: $white;

    @media(min-width: $phone) {
      align-self: center;
      grid-column: 1 / 2;
    }

    @media(min-width: $tablet) {
      padding: 10px 49px;
      grid-column: 1 / 3;
      justify-self: end;
      grid-row: 2;
    }
  }

  h2 {
    color: $white;
  }

  .image-block {
    @extend %bg-default;

    padding-bottom: 90%;

    @media(min-width: $tablet) {
      padding-bottom: 129%;
      grid-row: 1;
    }

    &:nth-of-type(1n) {
      @media(min-width: $phone) {
        grid-column: 1;
      }
    }

    &:nth-of-type(2n) {
      @media(min-width: $phone) {
        grid-column: 2;
      }
    }

    &:nth-of-type(3n) {
      @media(min-width: $phone) {
        grid-column: 1;
      }

      @media(min-width: $tablet) {
        grid-column: 3;
      }
    }

    &:nth-of-type(4n) {
      @media(min-width: $phone) {
        grid-column: 2;
      }

      @media(min-width: $tablet) {
        grid-column: 4;
      }
    }

    &:nth-of-type(6n) {
      @media(min-width: $phone) {
        grid-column: 2;
      }

      @media(min-width: $tablet) {
        grid-column: 3;
        grid-row: 2;
      }
    }

    &.empty {
      @media(max-width: $tablet - 1) {
        display: none;
      }

      @media(min-width: $tablet) {
        grid-column: 4;
        grid-row: 2;
      }
    }
  }
}

.music-section {
  background: #282b2f;

  .grid-container {
    @media(min-width: $phone) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 2fr .5fr 1.29fr;
    }

    @media(min-width: $desktop) {
      grid-template-rows: 1.25fr 1fr 1.29fr;
    }
  }

  .text-block {
    color: $white;

    h2 {
      color: $white;
    }
  }

  .text-box {
    background: $dark-gray;

    @media(min-width: $phone) {
      grid-column: 1 / 4;
      z-index: 2;
      display: grid;
      align-items: center;
      /* autoprefixer: off */
      grid-row: 1;
    }

    @media(min-width: $tablet) {
      grid-column: 1 / 3;
    }

    @media(min-width: $desktop) {
      padding: 46px 57px 10px;
      grid-column: 2 / 4;
    }

    @media(min-width: $widescreen-lg) {
      grid-column: 2 / 3;
    }

    .text-block {
      color: $white;
      font-weight: 400;
      font-size: 14px;
    }

    h2 {
      color: $green;
      line-height: 1.7;
      margin: 0 0 30px;
    }

    .btn {
      min-width: 0;
      letter-spacing: 0;
      padding: 12px 15px;
    }
  }

  .info-block {

    @media(min-width: $phone) {
      display: grid;
      align-items: center;
    }

    &:nth-child(odd) {

      @media(min-width: $phone) {
        grid-column: 1 / 3;
        grid-row: 3;
        justify-content: end;
      }
    }

    &:nth-child(even) {

      @media(min-width: $phone) {
        grid-column: 3 / 5;
        grid-row: 3;
      }
    }

    .text-block {
      @media(min-width: $desktop) {
        padding: 10px 59px 20px;
      }
    }
  }

  .image-block {
    @extend %bg-default;

    padding-bottom: 75%;

    @media(min-width: $phone) {
      grid-column: 1 / 5;
      /* autoprefixer: off */
      grid-row: 1 / 3;
    }

    @media(min-width: $desktop) {
      grid-column: 2 / 5;
    }
  }
  
  .green-block {
    background: $green;
  }

  .info-list {
    @extend %listreset;

    margin: 0 0 15px;

    @media(min-width: $tablet) {
      margin: 0 0 50px;
    }

    li {
      margin: 0 0 5px;
    }

    strong:not([class]) {
      font-weight: 400;
    }
  }
}